<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jansen & Sixel Landscape LLC.</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fullcalendarcss")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                    <a href="@Url.Action("Index", "Home")" class="navbar-brand logo">
                        <img src="~/Images/Jansen&SixelLogo.png" title="J&S_Logo" alt="additional title" style="height:25px" width="50px"/>
                    </a>


            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Landscaping", "LandscapingPage", "Customers")</li>
                    @*<div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="collapse" aria-haspopup="true" aria-expanded="true">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Bed Edging</a></li>
                            <li><a href="#">Mulching</a></li>
                            <li><a href="#">Tree and shrib planting and removal</a></li>
                            <li><a href="#">Tree pruning</a></li>
                            <li><a href="#">Flower gardens</a></li>
                            <li><a href="#">Erosion control</a></li>
                            <li><a href="#">Top soil deliveries</a></li>
                            <li><a href="#">Power washing</a></li>
                            <li><a href="#">Gutter cleaning</a></li>
                            <li><a href="#">Stump gringing</a></li>
                            <li><a href="#">Lawn installation</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>*@



                    <li>@Html.ActionLink("Hardscaping", "HardscapingPage", "Customers")</li>
                    <li>@Html.ActionLink("Property Maintenance", "PropertyMaintenance", "Customers")</li>
                    <li>@Html.ActionLink("Snow Removal", "SnowRemoval", "Customers")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        <a href="https://www.facebook.com/Jansen-Sixel-Landscaping-LLC-637165906309026/">
                        <img src="~/Images/FacebookLogo.png" title="Facebook" alt="additional title" style="height:25px" width="25px" target="_blank"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/JansenSxlLndscp/">
                        <img src="~/Images/TwitterLogo.png" title="Twitter" alt="additional title" style="height:25px" width="25px" target="_blank"/>
                        </a>
                    </li>
      

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jansen & Sixel Landscape LLC.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/fullcalendarjs")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

