
@{
    ViewBag.Title = "HardscapingPage";
}


<h1><center><strong>Hardscaping</strong></center></h1>
<h2>Enhance your yard with an outdoor living space</h2>
<h3>We will work with you to design an ideal living space to meet your needs.
    Enhance your yard with an outdoor living space </h3>
<h2>Professional and friendly services that you can trust</h2>
<h3>Our contractors work with you every step of the way to ensure that everything you're getting is exactly what you want. From the initial design consultation to laying the final brick you can count on us to be there for you.</h3>
<h2>An outdoor getaway right in your backyard</h2>

@*insert hardscaping picture here!!!!!!*@

<p>
    <strong>SERVICES:</strong><br />
            <li>@Html.ActionLink("Patios", "Patios", "Customers")</li>
            <li>@Html.ActionLink("Decorative Stone", "DecorativeStone", "Customers")</li>
            <li>@Html.ActionLink("Rock Gardens", "RockGardens", "Customers")</li>
            <li>@Html.ActionLink("Ponds", "Ponds", "Customers")</li>
            <li>@Html.ActionLink("Waterway Features", "WaterwayFeatures", "Customers")</li>
            <li>@Html.ActionLink("Walls", "Walls", "Customers")</li>
            <li>@Html.ActionLink("Walkways", "Walkways", "Customers")</li>
</p>

